/* styles/globals.css */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #000;
  color: #fff;
}

button {
  background-color: #1e90ff;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #0c70d4;
}
